In [1]:
from pymongo import MongoClient
from pprint import pprint

# Connection

In [2]:
client = MongoClient(port=27017)

In [3]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

# Creation of table

In [4]:
# Uses db if available and creates if not available
my_db = client['employee']

In [5]:
# Refers to collection if present else creates it
employee_information = my_db.employee_information
employee_information

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'employee'), 'employee_information')

# Insert Records

In [6]:
record = {
        'firstname':'A',
        'lastname':'B',
        'department':'Analytics',
        'qualification':'master',
        'age': 42
        }

In [7]:
employee_information.insert_one(record)

InsertOneResult(ObjectId('681ef4837a21e98e20cbce4e'), acknowledged=True)

In [8]:
my_db.employee_information.find({})

In [9]:
records = [
  {
    'firstname': 'John',
    'lastname': 'Doe',
    'department': 'Analytics',
    'qualification': 'statistics',
    'age': 35
  },
  {
    'firstname': 'John ',
    'lastname': 'Smith',
    'department': 'Analytics',
    'qualification': 'master',
    'age': 30
  },
  {
    'firstname': 'Manish',
    'lastname': 'Sen',
    'department': 'Analytics',
    'qualification': 'phd',
    'age': 34
  },
  {
    'firstname': 'Ram',
    'lastname': 'Singh',
    'department': 'Analytics',
    'qualification': 'master',
    'age': 32
  }
]

In [10]:
employee_information.insert_many(records)

InsertManyResult([ObjectId('681ef4837a21e98e20cbce4f'), ObjectId('681ef4837a21e98e20cbce50'), ObjectId('681ef4837a21e98e20cbce51'), ObjectId('681ef4837a21e98e20cbce52')], acknowledged=True)

# Query Records

In [11]:
employee_information.find_one({})

{'_id': ObjectId('681ef4837a21e98e20cbce4e'),
 'firstname': 'A',
 'lastname': 'B',
 'department': 'Analytics',
 'qualification': 'master',
 'age': 42}

In [12]:
for record in employee_information.find({}):
    pprint(record)

{'_id': ObjectId('681ef4837a21e98e20cbce4e'),
 'age': 42,
 'department': 'Analytics',
 'firstname': 'A',
 'lastname': 'B',
 'qualification': 'master'}
{'_id': ObjectId('681ef4837a21e98e20cbce4f'),
 'age': 35,
 'department': 'Analytics',
 'firstname': 'John',
 'lastname': 'Doe',
 'qualification': 'statistics'}
{'_id': ObjectId('681ef4837a21e98e20cbce50'),
 'age': 30,
 'department': 'Analytics',
 'firstname': 'John ',
 'lastname': 'Smith',
 'qualification': 'master'}
{'_id': ObjectId('681ef4837a21e98e20cbce51'),
 'age': 34,
 'department': 'Analytics',
 'firstname': 'Manish',
 'lastname': 'Sen',
 'qualification': 'phd'}
{'_id': ObjectId('681ef4837a21e98e20cbce52'),
 'age': 32,
 'department': 'Analytics',
 'firstname': 'Ram',
 'lastname': 'Singh',
 'qualification': 'master'}

In [13]:
for record in employee_information.find({'firstname':'A'}):
    print(record)

{'_id': ObjectId('681ef4837a21e98e20cbce4e'), 'firstname': 'A', 'lastname': 'B', 'department': 'Analytics', 'qualification': 'master', 'age': 42}

## IN Operator (in)

In [14]:
for record in employee_information.find({"qualification": {"$in" :['phd', 'master']}}):
    print(record)

{'_id': ObjectId('681ef4837a21e98e20cbce4e'), 'firstname': 'A', 'lastname': 'B', 'department': 'Analytics', 'qualification': 'master', 'age': 42}
{'_id': ObjectId('681ef4837a21e98e20cbce50'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'master', 'age': 30}
{'_id': ObjectId('681ef4837a21e98e20cbce51'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('681ef4837a21e98e20cbce52'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

## AND & Lesser than Operator (and, lt)

In [20]:
for record in employee_information.find({"$and" :[{"qualification":'master', 
                                                   "age": {"$lt": 40}}]}):
    print(record)

{'_id': ObjectId('681ef4837a21e98e20cbce50'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'master', 'age': 30}
{'_id': ObjectId('681ef4837a21e98e20cbce52'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

## OR Operator

In [19]:
for record in employee_information.find({"$or": [{"qualification": "phd"}, 
                                                {"age" : {"$lt": 33}, 
                                                 "qualification": "master"}]}):
    print(record)

{'_id': ObjectId('681ef4837a21e98e20cbce50'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'master', 'age': 30}
{'_id': ObjectId('681ef4837a21e98e20cbce51'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('681ef4837a21e98e20cbce52'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

## Querying nested JSON objects

In [21]:
inventory = my_db.inventory

In [22]:
inventory.insert_many([
    {'item': "journal", 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': "cm"}, 'status': "A"},
    {'item': "notebook", 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': "in"}, 'status': "A"},
    {'item': "paper", 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': "in"}, 'status': "D"},
    {'item': "planner", 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': "cm"}, 'status': "D"},
    {'item': "postcard", 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': "cm"}, 'status': "A"}
]);

In [24]:
for record in inventory.find({'size': {'h' : 14, "w": 21, "uom": "cm"}}):
    print(record)

{'_id': ObjectId('681ef6f07a21e98e20cbce53'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}